.image{
    width: 100px;
    height: 100px;
    
}
.card{
    width: 200px;
    height: 350px;
    box-shadow: 1px 3px 4px lightgray;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow: 1px 3px 4px rgb(50, 44, 44);
    transition: all 0.6s;
}
.detailBtn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(49, 49, 48);
    color: white;
}
.detailBtn:hover{
    cursor: pointer;
    background-color: rgb(31, 30, 30);
    transition: all 0.6s;

}